{% load static %}
<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/twitter-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">


   <script src="{% static 'js/jquery-3.5.js' %}"></script>  
   <script src="{% static 'js/Bootstrap.v3.3.7.js' %}"></script>
     
    
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
